@model IEnumerable<HaftalikRapor.Models.RaporDB>

@{
    ViewBag.Title = "Onay Bekleyen Raporlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Onay Bekleyen Raporlar</h2>


<table class="table">
    <tr>
        <th>
            Rapor Kodu
        </th>
        <th>
            Personel Adı
        </th>
        <th>
            Personel SoyAdı
        </th>
        <th>
            Rapor Teslim tarihi
        </th>

        <th>
            Durum
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelSoyAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaporBitisTarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.ActionLink("Rapor Detayı", "Details", "Rapor", new { id = item.ID }, new { @class = "btn btn-success" })
              
            </td>
        </tr>
    }

</table>
